{% extends 'base.html' %}
{% load my_tags %}
{% load static %}
{% load bootstrap4 %}
{% block body %}

<div class="super_container">
	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/shop_background.jpg"></div>
		<div class="home_overlay"></div>
		<div class="home_content d-flex flex-column align-items-center justify-content-center">
			<h2 class="home_title">Smartphones & Tablets</h2>
		</div>
	</div>

	<!-- Shop -->

	<div class="shop">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<form  > 
					
						<div class="form-group col-md-8">
							<label for="category">Category</label>
								<select id="category" class="form-control" name="category">
									<option selected>Choose...</option>
									{% for cat in Categories %}
										<option value="{{ cat }}">{{ cat }}</option>
									{% endfor %}
								</select>
						</div>
						<div class="form-group col-md-8">
							<label for="category">Brands</label>
								<select id="category" class="form-control col-md-12" name="manufacture" >
									<option selected >Choose...</option>
									{% for cat in brands %}
										<option value="{{ cat.manufacture }}">{{ cat.manufacture }}</option>
									{% endfor %}
								</select>
						</div>
						<button type="submit" class="btn btn-primary">Search</button>
					</form>
				</div>
				
				<div class="col-lg-9">
					<!-- Shop Content -->
					<div class="shop_content">
						<div class="shop_bar clearfix">
							<div class="shop_product_count"><span>{{count}}</span> products found</div>
						</div>
						<!-- Tab Content -->
						<div class="container">
							<div class="row mb-8">
								<div class="col-xl-9 col-wd-9gdot5">
									<div class="tab-content" id="pills-tabContent">
										<div class="tab-pane fade pt-2 show active" id="pills-three-example1" role="tabpanel" aria-labelledby="pills-three-example1-tab" data-target-group="groups">
											{% for product in page_obj %}	
												<ul class="d-block list-unstyled products-group prodcut-list-view">
													<li class="product-item remove-divider">
														<div class="product-item__outer w-100">
															<div class="product-item__inner remove-prodcut-hover py-4 row">
																<div class="product-item__header col-6 col-md-4">
																	<div class="mb-2">
																		<a href="../shop/single-product-fullwidth.html" class="d-block text-center"><img class="img-fluid" src={{product.img}} alt="Image Description"></a>
																	</div>
																</div>
																<div class="product-item__body col-6 col-md-5">
																	<div class="pr-lg-12">
																		<div class="mb-2 "><a href="../shop/product-categories-7-column-full-width.html" class="font-size-12 text-gray-5">Speakers</a></div>
																		<h5 class="mb-2 product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">{{product.title}}</a></h5>
																		<div class="prodcut-price mb-2 d-md-none">
																			<div class="text-gray-100  mb-12">{{product.lastprice}}</div>
																		</div>
																		<div class="mb-3 d-none d-md-block">
																		
																			<div class="row">
																				
																				<div class="col text-left">
																					<form class="rate-form" action="" method="POST" id="{{object.id}}">
																						{% csrf_token %}
																						{{product.rate}}
																						{% for i in range_num %}
																							{% if i <= product.rate and product.rate != 0 %}
																								<button type="submit" class="fa fa-star fa-1x my-btn checked" ></button>
																							{% else %}
																								<button type="submit" class="fa fa-star fa-1x my-btn"></button>
																							{% endif %}	

																							<!-- <button type="submit" class="fa fa-star fa-3x my-btn" id="second"></button>
																							<button type="submit" class="fa fa-star fa-3x my-btn" id="third"></button>
																							<button type="submit" class="fa fa-star fa-3x my-btn" id="fourth"></button>
																							<button type="submit" class="fa fa-star fa-3x my-btn" id="fifth"></button> -->
																						{% endfor %}
																						
																					</form>
																					<br>
																					<div id="confirm-box"></div>
																				</div>
																				
																			</div>
																		

																		</div>
																		<ul class="font-size-12 p-0 text-gray-110 mb-4 d-none d-md-block">
																			<li class="line-clamp-5 mb-1 list-bullet">{{product.description|safe|truncatewords:15}}</li>
																		</ul>
																	</div>
																</div>
																<div class="product-item__footer col-md-3 d-md-block">
																	<div class="mb-3">
																		<div class="prodcut-price mb-2">
																			<div class="text-gray-100"><h5>{{product.lastprice}}EP</h5></div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</li>
												</ul>
											{% endfor %}	
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Shop Page Navigation -->
						<div class="pagination">
							<span>
								{% if page_obj.has_previous %}
									<a href="?{% param_replace request page=1 %}">&laquo; first</a>
									<a href="?{% param_replace request page=page_obj.previous_page_number %}">previous</a>
								{% endif %}
				
								<span class="current">
									Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
								</span>
				
								{% if page_obj.has_next %}
									<a href="?{% param_replace request page=page_obj.next_page_number %}">next</a>
									<a href="?{% param_replace request page=page_obj.paginator.num_pages %}">last &raquo;</a>
								{% endif %}
							</span>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Recently Viewed -->

	<div class="viewed">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="viewed_title_container">
						<h3 class="viewed_title">Recently Viewed</h3>
						<div class="viewed_nav_container">
							<div class="viewed_nav viewed_prev"><i class="fas fa-chevron-left"></i></div>
							<div class="viewed_nav viewed_next"><i class="fas fa-chevron-right"></i></div>
						</div>
					</div>

					<div class="viewed_slider_container">
						
						<!-- Recently Viewed Slider -->

						<div class="owl-carousel owl-theme viewed_slider">
							{% for view in Recently_Viewed %}
							<!-- Recently Viewed Item -->
							<div class="owl-item">
								<div class="viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
									<div class="viewed_image"><img src="{{view.img}}" alt=""></div>
									<div class="viewed_content text-center">
										<div class="viewed_price">{{view.lastprice}}E.p</div>
										<div class="viewed_name"><a href="#">{{view.title|safe|truncatewords:5}}</a></div>
									</div>
									<ul class="item_marks">
										<li class="item_mark item_new">new</li>
									</ul>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock body %}

